

<div class="container">

    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
    <%= link_to "About me", about_path, type:"button", class:"btn btn-primary" %>
    <%= link_to "Posts", posts_path, type:"button", class:"btn btn-secondary" %>

    
</div>